body {
  width: 100%;
  height: 100%; }

canvas {
  width: 100%;
  height: 100%; }

.vida-main {
  width: 100%;
  height: 100%; }

.vida-view {
  width: 100%;
  height: 95%;
  position: absolute;
  top: 5%;
  left: 0; }

.vida-menu {
  width: 100%;
  height: 5%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: aliceblue; }
